<div id="container">
  <div id="header">
    <img
      src="https://www.mydomaine.com/thmb/Lbjq2hM5w_zquM18v3WdNrPriBw=/2048x0/filters:no_upscale():strip_icc()/SuCasaDesign-Modern2-ec89013bd4d74c6693f8247eee10134b.jpg"
      alt="">
  </div>
  <div id="body">
    <form action="" [formGroup]="login_form">

      <div class="textboxarea">
        <input type="text" placeholder="Username" #data formControlName="Email">
        <div class="icon8">
          <div class="eyeBtn" mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <img src="../../assets/icons/login-user.png">
          </div>
        </div>
      </div>

      <div class="textboxarea">
        <input type="password" [type]="hide ? 'password' : 'text'" placeholder="Password" (keyup.enter)="onLogin()"
          formControlName="Password">

        <div class="icon8">
          <div class="eyeBtn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <img [src]="hide ? '../../assets/icons/eyes-off.png' : '../../assets/icons/eyes-open.png'" alt="">
          </div>
        </div>
      </div>

      <p routerLink="forgotpassword" class="forgotpassword">I forgot my password</p>
      <div class="loginBtn">
        <button type="submit" (click)="onLogin()">Login</button>
      </div>

    </form>
  </div>
  <div id="foot">
    <div class="compInfo">
      <span>Developed By </span><img src="https://macreel.co.in/img/logo4.png" alt="macreel icon">
    </div>
  </div>
</div>