<div id="warpper">
  <div class="bgImg">
    <img src="../../assets/images/bg-login.png" alt="" width="100%">
  </div>
  <div class="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://media.licdn.com/dms/image/C4D1BAQHxINS0YZXisg/company-background_10000/0/1583792331401/login_nl_cover?e=2147483647&v=beta&t=2JAw5A2BBCd-5HDuUfdOcZDbdPiXKnDysc3kf-kwKyg"/>
      <ion-card-header>
        <ion-input type="text" label="Username"></ion-input>
        <ion-input type="password" label="Password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-button>Login</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</div>