<div id="container">
  <div class="wrapper">
    <form [formGroup]="loginForm">
      <div class="imgbox">
        <div class="avatar">
          <img src="../../assets/images/login-profile.jpg" alt="login-profile">
        </div>
      </div>

      <div class="input-box">
        <img src="../../assets/icons/login-user.png" alt="username" width="30px" height="30px">
        <input type="text" placeholder="Username" formControlName="Username" #data>
      </div>

      <div class="input-box">
        <img src="../../assets/icons/login-password.png" alt="password" width="30px" height="30px">
        <input type="password" [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="Password">
        <button  (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </div>
      <div class="forgot">
        <!-- <p routerLink="forgotpassword">Forgot password?</p> -->
      </div>
      <ion-button type="submit" class="btn" (click)="onLogin(data.value)">Login</ion-button>
    </form>
  </div>
</div>
<div class="companyInfo">
  <div class="compInfo">
    <span>Developed By </span><img src="https://macreel.co.in/img/logo4.png" alt="macreel icon">
  </div>
</div>