<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home/flatownerlist">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Owner Details </ion-text>
      </ion-buttons>
    </ion-toolbar>

    <div class="container">
      <div class="dataRow">
        <div class="student_img">
          <img [src]=" 'https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_640.png'" alt="stdProfile"
            width="100">
        </div>
        <p>
          <img src="../../../assets/icons/building-block.png" alt="">
          <span> {{'Buildin Block'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/building-no.png" alt="">
          <span> {{'Flat No'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/emp.png" alt="">
          <span> {{'Name'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/degignation.png" alt="">
          <span> {{'Designation'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/phone.png" alt="">
          <span> {{'Primary Mobile No'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/phone.png" alt="">
          <span> {{'Alt Mobile No'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/email.png" alt="">
          <span> {{'Email'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/aadhar.png" alt="">
          <span> {{'Aadhar No'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/user.png" alt="">
          <span> {{'Member Name'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/age.png" alt="">
          <span> {{'Member Age'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/phone.png" alt="">
          <span> {{'Member Mobile No'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/model.png" alt="">
          <span> {{'Car Model'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/car-no.png" alt="">
          <span> {{'Car Number'}} </span>
        </p>
        <p>
          <img src="../../../assets/icons/parking-car.png" alt="">
          <span> {{'Car Parking'}} </span>
        </p>
      </div>
    </div>
  </ion-header>
</div>