<ion-card>
  <div class="SearchBox" *ngIf="headerBox">
    <span> <b>Total :- </b>{{reg_data?.length}}</span>
    <div class="HeaderBoxSearch">
      <ion-button color="secondary" (click)="onSearchOpen()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
      <ion-button color="secondary" routerLink="/home/flatownerreg">
        <ion-icon name="person-add-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="SearchBox" *ngIf="siteSearch">
    <span> <b>Total :- </b>{{reg_data?.length}}</span>
    <ion-input type="text" class="searchInput" placeholder="Search..." #search (keyup)="onSearch(search.value)">
    </ion-input>
    <div class="searchClose">
      <ion-button color="secondary" type="reset" (click)="onSearchClose()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>

<div id="containerBox">
  <div class="usercard" *ngFor="let data of reg_data" (click)="onDetails(data)">
    <div class="userimg">
      <img [src]="data.flatOwnerImagePath? img_url+data.flatOwnerImagePath : '../../../assets/images/user.webp'"
        alt="" width="100%" height="100%">
    </div>
    <div class="userdata">
      <table>
        <tr>
          <ion-icon name="person-sharp" color="primary"></ion-icon>
          <td><b>{{data.flatOwnerName}}</b></td>
        </tr>
        <tr>
          <ion-icon name="briefcase-sharp" color="dark"></ion-icon>
          <td>{{data.ownerDesignation}}</td>
        </tr>
        <tr>
          <ion-icon name="call-sharp" color="success"></ion-icon>
          <td>{{data.primaryNumber}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>