<div class="chat-container">
  <div class="profilebOX">
    <div class="BackBtn" routerLink="/flatowner">
      <ion-icon name="arrow-back-sharp"></ion-icon>
    </div>
    <div>
      <img src="../../../assets/images/user.webp" alt="User Avatar" class="avatar">
    </div>
    <div class="profile">
      <span>Amarjeet Kumar</span>
    </div>
  </div>
  <div class="boxarea">
    <div class="chat-messages">
      <div class="message received">
        <img src="../../../assets/images/user.webp" alt="User Avatar" class="avatar">
        <div class="message-content">
          <p>H! I'm Akhilesh Kumar</p>
        </div>
      </div>
      <div class="message sent">
        <div class="message-content">
          <p>Hello I'm Amarjeet Kumar</p>
        </div>
        <img src="../../../assets/images/login-profile.jpg" alt="User Avatar" class="avatar">
      </div>
    </div>
    <div class="chat-input">
      <input type="text" placeholder="Type your message...">
      <button>Send</button>
    </div>
  </div>
</div>