<div id="wrapper">
  <div id="dashboardBox">
    <div class="grating">
      <span style="font-size: 20px; color: #fff;"><b>{{ GratingData() }}</b></span><br>
      <span style="color: #fff;">{{flat_filter_data?.flatOwnerName}}</span>
    </div>
    <div class="manageContainer">
      <div class="manage">
        <div class="card cardColor1" routerLink="#">
          <div>
            <h3>Employee</h3>
            <p>{{ list_emp_total? list_emp_total.length : '0' }}</p>
          </div>
          <div>
            <img src="../../../assets/icons/visitor.png" alt="" width="30px">
          </div>
        </div>
        <div class="card cardColor2" routerLink="#">
          <div>
            <h3>Flat Owner</h3>
            <p>{{ flat_owner_list? flat_owner_list.length : '0' }}
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/visitor.png" alt="" width="30px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>