<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/flatowner">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Contact </ion-text>
      </ion-buttons>
    </ion-toolbar>
    <ion-card>
      Welcome to our Society Management System App! We value your feedback and are here to assist you with any questions
      or concerns you may have. Please feel free to reach out to us through any of the following channels: <br> <br>

      <b> Customer Support:</b>

      <p>
        <ion-icon name="call-sharp"></ion-icon> +1 (555) 555 666 <br>
        <ion-icon name="mail-sharp"></ion-icon> {{'support@yourcompany.com'}}
      </p>


      <b> Social Media:</b>

      <p>
        <ion-icon name="logo-facebook"></ion-icon> Facebook <br>
        <ion-icon name="logo-twitter"></ion-icon> Twitter <br>
        <ion-icon name="logo-instagram"></ion-icon> Instagram <br>
      </p> <br>
    </ion-card>
  </ion-header>
</div>