<div id="wrapper">
    <div class="grating" [style.color]="greetingColor">
        <span style="font-size: 20px; color: aqua;"><b>{{ GratingData() }}</b></span><br>
        <span style="color: brown;">Amarjeet Kumar</span>
    </div>

    <ion-card>
        <swiper [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
            delay: 10,
            disableOnInteraction: false
        }" [pagination]="{
            clickable: true
        }" [grabCursor]="true" [navigation]="true" class="mySwiper">
            <ng-template swiperSlide *ngFor="let slider of slider_data">
                <img class="slider_img" src="{{slider?.img_url}}" width="100%" height="200px">
            </ng-template>
        </swiper>
    </ion-card>

    <ion-card class="manageContainer">
        <h5>Manage</h5>
        <div class="manage">
            <div class="manageBox" routerLink="/home/employeereg">
                <ion-icon name="person-add-sharp" color="danger"></ion-icon>
                <ion-card-title>Add Employee</ion-card-title>
            </div>
            <div class="manageBox" routerLink="/home/visitorreg">
                <ion-icon name="person-add-sharp" color="success"></ion-icon>
                <ion-card-title>Add Visitors</ion-card-title>
            </div>
            <div class="manageBox" routerLink="/home/flatownerreg">
                <ion-icon name="person-add-sharp" color="primary"></ion-icon>
                <ion-card-title>Add Owner</ion-card-title>
            </div>
            <div class="manageBox">
                <ion-icon name="logo-paypal" color="success"></ion-icon>
                <ion-card-title>Payments</ion-card-title>
            </div>
            <div class="manageBox">
                <ion-icon name="car-sharp" color="tertiary"></ion-icon>
                <ion-card-title>Car Parking</ion-card-title>
            </div>
            <div class="manageBox">
                <ion-icon name="headset-sharp" color="warning"></ion-icon>
                <ion-card-title>Help Desk</ion-card-title>
            </div>
            <div class="manageBox">
                <ion-icon name="notifications-circle-sharp" color="secondary"></ion-icon>
                <ion-card-title>Notic</ion-card-title>
            </div>
            <div class="manageBox">
                <ion-icon name="paw-sharp" color="medium"></ion-icon>
                <ion-card-title>Events</ion-card-title>
            </div>
        </div>
    </ion-card>
</div>