<div id="wrapper">
    <div id="dashboardBox">
        <div class="grating">
            <span style="font-size: 20px; color: #fff;"><b>{{ GratingData() }}</b></span><br>
            <span style="color: #fff;">Amarjeet Kumar</span>
        </div>
        <div class="manageContainer">
            <div class="manage">
                <div class="card cardColor1" routerLink="/home/visitorlist">
                    <div>
                        <h3>Visitors</h3>
                        <p>{{ list_dashboard && list_dashboard.length > 0 ? list_dashboard[0] : '0' }}
                            <span>Today</span>
                        </p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/visitor.png" alt="" width="30px">
                    </div>
                </div>

                <div class="card cardColor2" routerLink="/home/flatownerlist">
                    <div>
                        <h3>Flat Owner</h3>
                        <p>{{list_dashboard && list_dashboard.length > 1 ? list_dashboard[1] : '0'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/user.png" alt="" width="30px">
                    </div>
                </div>

                <div class="card cardColor3" routerLink="/home/employeelist">
                    <div>
                        <h3>Employee</h3>
                        <p>{{list_emp_total?.length}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/emp.png" alt="" width="30px">
                    </div>
                </div>
                <div class="card cardColor7" routerLink="/home/employeeguard">
                    <div>
                        <h3>Security Gaurd</h3>
                        <p>{{list_dashboard && list_dashboard.length > 2 ? list_dashboard[2] : '0'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/guard.png" alt="" width="30px">
                    </div>
                </div>
                <div class="card cardColor8" routerLink="/home/employeemaid">
                    <div>
                        <h3>Maid</h3>
                        <p>{{list_dashboard && list_dashboard.length > 3 ? list_dashboard[3] : '0'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/maid.png" alt="" width="30px">
                    </div>
                </div>

                <div class="card cardColor4">
                    <div>
                        <h3>Parking Area</h3>
                        <p>{{'9'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/parking-car.png" alt="" width="30px">
                    </div>
                </div>

                <div class="card cardColor5" routerLink="/home/helpdesk">
                    <div>
                        <h3>Help Desk</h3>
                        <p>{{'1'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/help-desk.png" alt="" width="30px">
                    </div>
                </div>

                <div class="card cardColor6">
                    <div>
                        <h3>Notic</h3>
                        <p>{{'1000'}}</p>
                    </div>
                    <div>
                        <img src="../../../assets/icons/notice.png" alt="" width="30px">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <ion-card class="manageContainer">
        <h1>Visitor</h1>
        <canvas #visitorColumnChart width="400" height="400"></canvas>
    </ion-card>

    <ion-card class="manageContainer">
        <h1>All Employee</h1>
        <canvas #EmpChart></canvas>
    </ion-card>

    <ion-card class="manageContainer">
        <h1>Flat Data </h1>
        <canvas #FlatChart></canvas>
    </ion-card>

</div>