<div id="wrapper">
    <div class="grating">
        <span style="font-size: 20px; color: #0163aa;"><b>{{ GratingData() }}</b></span><br>
        <span style="color: #0163aa;">Amarjeet Kumar</span>
    </div>

    <div class="manageContainer">
        <h5>Dashboard</h5>

        <div class="manage">
            <div class="card cardColor1" routerLink="/home/visitorlist">
                <div>
                    <h3>Visitors</h3>
                    <p>{{'10'}}
                        <span>Today</span>
                    </p>
                </div>
                <div>
                    <img src="../../../assets/icons/visitor.png" alt="" width="30px">
                </div>
            </div>

            <div class="card cardColor2" routerLink="/home/flatownerlist">
                <div>
                    <h3>Owner</h3>
                    <p>{{'4'}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/user.png" alt="" width="30px">
                </div>
            </div>

            <div class="card cardColor3" routerLink="/home/employeelist">
                <div>
                    <h3>Employee</h3>
                    <p>{{'200'}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/emp.png" alt="" width="30px">
                </div>
            </div>

            <div class="card cardColor4">
                <div>
                    <h3>Parking Area</h3>
                    <p>{{'9'}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/parking-car.png" alt="" width="30px">
                </div>
            </div>

            <div class="card cardColor5">
                <div>
                    <h3>Help Desk</h3>
                    <p>{{'1'}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/help-desk.png" alt="" width="30px">
                </div>
            </div>

            <div class="card cardColor6">
                <div>
                    <h3>Notic</h3>
                    <p>{{'1000'}}</p>
                </div>
                <div>
                    <img src="../../../assets/icons/notice.png" alt="" width="30px">
                </div>
            </div>

        </div>
    </div>

    <ion-card class="manageContainer">
        <h5>Visitor</h5>
        <canvas #visitorColumnChart width="400" height="400"></canvas>
    </ion-card>

    <ion-card class="manageContainer">
        <h5>Reports</h5>
        <canvas #ReportChart></canvas>
    </ion-card>

</div>