<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home/visitorreg">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-text> Flat Owner Details </ion-text>
    </ion-toolbar>
    <div class="container">
      <div class="dataRow">
        <div class="student_img">
          <img
            [src]="on_details.flatOwnerImagePath? img_url+on_details.flatOwnerImagePath : '../../../assets/images/user.webp'"
            alt="stdProfile" width="100">
        </div>
        <p *ngIf="on_details?.buildName">
          <img src="../../../assets/icons/building-block.png" alt="">
          <span> {{on_details?.buildName}} </span>
        </p>

        <p *ngIf="on_details?.flatName">
          <img src="../../../assets/icons/building-no.png" alt="">
          <span> {{on_details?.flatName}} </span>
        </p>

        <p *ngIf="on_details?.flatOwnerName">
          <img src="../../../assets/icons/emp.png" alt="">
          <span> {{on_details?.flatOwnerName}} </span>
        </p>

        <p *ngIf="on_details?.ownerDesignation">
          <img src="../../../assets/icons/degignation.png" alt="">
          <span> {{on_details?.ownerDesignation}} </span>
        </p>

        <p *ngIf="on_details?.primaryNumber">
          <img src="../../../assets/icons/phone.png" alt="">
          <span> {{on_details?.primaryNumber}} </span>
        </p>

        <p *ngIf="on_details?.alternatePhoneNum">
          <img src="../../../assets/icons/phone.png" alt="">
          <span> {{on_details?.alternatePhoneNum}} </span>
        </p>

        <p *ngIf="on_details?.ownerEmail">
          <img src="../../../assets/icons/email.png" alt="">
          <span> {{on_details?.ownerEmail}} </span>
        </p>

        <p *ngIf="on_details?.aadharNumber">
          <img src="../../../assets/icons/aadhar.png" alt="">
          <span> {{on_details?.aadharNumber}} </span>
        </p>
        
        <ion-card *ngFor="let data of on_members; let i = index">
          <span>
            <p>Member {{ i + 1 }}</p>
          </span>
          <p *ngIf="data?.MemberName">
            <img src="../../../assets/icons/user.png" alt="">
            <span>{{ data?.MemberName }}</span>
          </p>

          <p *ngIf="data?.MemberAge">
            <img src="../../../assets/icons/age.png" alt="">
            <span>{{ data?.MemberAge }}</span>
          </p>

          <p *ngIf="data?.MemberContact">
            <img src="../../../assets/icons/phone.png" alt="">
            <span>{{ data?.MemberContact }}</span>
          </p>
        </ion-card>

        <ion-card *ngFor="let data of on_cars; let i = index">
          <span>
            <p>Car {{ i + 1 }}</p>
          </span>
          <p *ngIf="data?.carModel">
            <img src="../../../assets/icons/model.png" alt="">
            <span>{{ data?.carModel }}</span>
          </p>

          <p *ngIf="data?.carNumber">
            <img src="../../../assets/icons/car-no.png" alt="">
            <span>{{ data?.carNumber }}</span>
          </p>

          <p *ngIf="data?.parkingArea">
            <img src="../../../assets/icons/parking-car.png" alt="">
            <span>{{ data?.parkingArea }}</span>
          </p>
        </ion-card>

      </div>
    </div>
  </ion-header>
</div>