.manageContainer {
    overflow: auto;
    height: calc(100vh - 60px);

    h1 {
        margin: 10px 0px 0px 20px;
    }

    .manage {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        margin: 0px 10px 0px 0px;
        border-radius: 10px;

        .card {
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            margin-bottom: 15px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            margin: 10px 0px 0px 10px;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            h3 {
                margin: 0;
                font-size: 13px;
            }

            p {
                margin: 5px 0 0;
                font-weight: 600;

                span {
                    font-size: 8px;
                }
            }

            img {
                align-items: center;
                border-radius: 50px;
            }
        }

        .cardColor1 {
            background-image: linear-gradient(230deg, #E91E63, #1b3b8f);
        }
    }
}

ion-toolbar {
    text-align: center;

    button {
        padding: 10px;
        font-size: 18px;
        background-color: var(--color-1);
        color: var(--color-2);
    }

    ion-fab-button::part(native) {
        border-radius: 50px;
        box-shadow: none;
    }
}