<ion-app>
  <ion-menu contentId="main-content">
    <ion-toolbar color="secondary">
      <div class="userProfile">
        <img src="https://smaabacus.com/themes/user/assets/img/avatar/male.png" alt="" width="80px">
      </div>
      <div class="titleContent">
        <span>Amarjeet Kumar</span>
        <button>
          <img src="../../assets/icons/pencile.png" alt="" width="20px">
        </button>
      </div>
    </ion-toolbar>
    <ion-content>
      <div class="dataRow">
        <p>
          <ion-icon name="call-sharp" color="secondary"></ion-icon>
          <span> Cantact </span>
        </p>

        <p>
          <ion-icon name="alert-circle-sharp" color="secondary"></ion-icon>
          <span> About </span>
        </p>

        <p routerLink="/home/tearmandcondition">
          <ion-icon name="bookmarks-sharp" color="secondary"></ion-icon>
          <span> Terms & conditions </span>
        </p>

        <p>
          <ion-icon name="git-compare-sharp" color="secondary"></ion-icon>
          <span> Change Password </span>
        </p>
      </div>
    </ion-content>
    <div class="sideBarBox">
      <p>
        <img src="../../assets/images/society app logo .png" alt="" width="30px">
        <span> App Version 0.1 </span>
      </p>
      <p (click)="onLogout()">
        <img src="../../assets/icons/logout.png" alt="" width="30px">
        <span> Logout </span>
      </p>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="box">
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-title *ngIf="onRegistrationList()">Employee List</ion-title>
          <ion-title *ngIf="onOwnerList()">Owner List</ion-title>
          <ion-title *ngIf="onVisitorList()">Visitor List</ion-title>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="dashboard">
            <ion-icon name="home-sharp"></ion-icon>
            Home
          </ion-tab-button>
          <ion-tab-button tab="visitorlist">
            <ion-icon name="medkit-sharp"></ion-icon>
            Visitor
          </ion-tab-button>
          <ion-tab-button tab="flatownerlist">
            <ion-icon name="library"></ion-icon>
            Owner
          </ion-tab-button>
          <ion-tab-button tab="employeelist">
            <ion-icon name="person-sharp"></ion-icon> 
            Employee
          </ion-tab-button>
          <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
            Profile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-app>