<ion-app>
  <ion-menu contentId="main-content">
    <ion-toolbar color="secondary">
      <div class="userProfile">
        <img [src]="emp_filter_data?.empProfileImagePath? img_url+emp_filter_data.empProfileImagePath : 'ProfileImg '"
          alt="stdProfile" width="80">
      </div>
      <div class="titleContent">
        <span>{{emp_filter_data?.empName}}</span>
        <button (click)="onProfileDetails(emp_filter_data)">
          <ion-icon name="eye-sharp"></ion-icon>
        </button>
      </div>
    </ion-toolbar>
    <ion-content>
      <div class="dataRow">
        <p>
          <ion-icon name="call-sharp" color="secondary"></ion-icon>
          <span> Cantact </span>
        </p>

        <p>
          <ion-icon name="alert-circle-sharp" color="secondary"></ion-icon>
          <span> About </span>
        </p>

        <p>
          <ion-icon name="git-compare-sharp" color="secondary"></ion-icon>
          <span> Change Password </span>
        </p>

        <p routerLink="#">
          <ion-icon name="bookmarks-sharp" color="secondary"></ion-icon>
          <span> Terms & conditions </span>
        </p>

      </div>
    </ion-content>
    <div class="sideBarBox">
      <p (click)="onLogout()">
        <img src="../../assets/icons/logout.png" alt="" width="30px">
        <span> Logout </span>
      </p>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="box">
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-title *ngIf="onRegistrationList()">Employee List</ion-title>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="dashboard">
            <ion-icon name="home-sharp"></ion-icon>
            Home
          </ion-tab-button>
          <ion-tab-button tab="empvisitorlist">
            <ion-icon name="person-sharp"></ion-icon>
            Visitor
          </ion-tab-button>
          <ion-tab-button (click)="onProfileDetails(emp_filter_data)">
            <ion-icon name="person-circle-outline"></ion-icon>
            Profile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-app>