<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home/flatownerlist">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Update Registration </ion-text>
      </ion-buttons>
    </ion-toolbar>
    <ion-content class="ion-padding">
      <form [formGroup]="RegFlatForm">

        <ion-select label="Building Blocks" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select building blocks" (ionChange)="get_filter_by_flat_num($event)" formControlName="b_block">
          <ion-select-option *ngFor="let building_list of building_block" [value]="building_list?.id">{{
            building_list?.buildingBlockName }}</ion-select-option>
        </ion-select>

        <ion-select label="Flat No" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select flat no" formControlName="flatNum">
          <ion-select-option *ngFor="let flat_num of building_num" [value]="flat_num?.id">{{
            flat_num?.flatNum }}</ion-select-option>
        </ion-select>

        <ion-input label="Name" label-placement="floating" fill="outline" type="text" placeholder="Enter owner name"
          formControlName="Name">
        </ion-input>

        <ion-input label="Designation" label-placement="floating" fill="outline" type="text"
          placeholder="Enter designation" formControlName="Designation">
        </ion-input>

        <ion-input label="Primary Mobile No" label-placement="floating" fill="outline" type="number"
          placeholder="Enter primary mobile no" formControlName="Primary_Number">
        </ion-input>

        <ion-input label="Alt Mobile No" label-placement="floating" fill="outline" type="number"
          placeholder="Enter alt mobile no" formControlName="Alt_Number">
        </ion-input>

        <ion-input type="email" fill="outline" label="Email" labelPlacement="floating" errorText="Invalid email" ngModel
          email formControlName="Email">
        </ion-input>

        <ion-input label="Aadhar No" label-placement="floating" type="number" fill="outline"
          placeholder="Enter aadhar no" formControlName="AadharNumber">
        </ion-input>

        <ion-input #familyInput label="Number Of Family Members" label-placement="floating" type="number" fill="outline"
          placeholder="Enter number of family members " [(ngModel)]="familyCount" formControlName="No_Of_Family"
          (input)="onFamilyInput($event)">
        </ion-input>
        <ion-text *ngIf="familyCount > 7" color="danger">Maximum 7 members allowed.</ion-text>

        <div formArrayName="members">
          <div *ngFor="let member of membersArray.controls; let i = index">
            <div [formGroupName]="i">
              <span>
                <p>Member {{ i + 1 }}</p>
              </span>
              <ion-input label-placement="floating" type="text" fill="outline" label="Member Name"
                placeholder="Enter member name" formControlName="MemberName{{ i + 1 }}"></ion-input>

              <ion-input label-placement="floating" type="text" fill="outline" label="Member Age"
                placeholder="Enter member age" formControlName="MemberAge{{i + 1}}"></ion-input>

              <ion-input label-placement="floating" type="text" fill="outline" label="Member Mobile No"
                placeholder="Enter member mobile no" formControlName="MemberContactNum{{i + 1}}"></ion-input>
            </div>
          </div>
        </div>

        <ion-checkbox (ionChange)="toggleCarInput($event)" [(ngModel)]="CarsCount" formControlName="Have_car">
          {{ CarsCount ? 'Yes, I have a car' : 'Do you have a car' }}
        </ion-checkbox>

        <div *ngIf="onCarSelect" formArrayName="familyCars">
          <div *ngFor="let car of CarsArray.controls; let i = index">
            <div [formGroupName]="i">
              <ion-input label-placement="floating" type="text" fill="outline" label="Car Model"
                placeholder="Enter car model" formControlName="Car_Model">
              </ion-input>

              <ion-input label-placement="floating" type="text" fill="outline" label="Car Number"
                placeholder="Enter car number" formControlName="Car_Number">
              </ion-input>

              <ion-input label-placement="floating" type="text" fill="outline" label="Car Parking Area"
                placeholder="Enter car parking area" formControlName="Car_ParkingArea">
              </ion-input>

              <ion-buttons>
                <ion-button color="danger" *ngIf="!addAnotherCars && i === 0" (click)="removeAnotherCar(i)">
                  <ion-icon name="trash-outline"></ion-icon> Remove Another Car</ion-button>
              </ion-buttons>
            </div>
          </div>
          <ion-buttons *ngIf="addAnotherCars">
            <ion-button (click)="addAnotherCar()"> <ion-icon name="add-outline"></ion-icon> Add Another Car
            </ion-button>
          </ion-buttons>
        </div>

        <div class="EmployeeImg">
          <span [hidden]="onCameraOpen">
            <div class="BoxCamera">
              <video #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
            </div>
            <div class="BoxCameraClickBtn">
              <ion-button mat-raised-button color="primary" (click)="capture()">Click Photo</ion-button>
            </div>
          </span>

          <div *ngIf="onCaptureImg">
            <div class="BoxCamera">
              <canvas #canvas id="canvas" [hidden]="!onCameraOpen" [width]="WIDTH" [height]="HEIGHT"></canvas>
            </div>
          </div>

          <div class="UploadImage">
            <div class="imgDataBox" [hidden]="onGalleryImg">
              <span>
                <img alt="galleryImg" [src]="gallery_img_url">
                <input class="d-none" type="file" accept=".jpg,.png,.jpeg,.pdf" #galleryImg
                  (change)="OnGallery(galleryImg.files)">
              </span>
            </div>
          </div>

          <div class="actionCamera">
            <ion-text>Employee Image</ion-text>
            <ion-fab>
              <ion-fab-button size="small">
                <ion-icon name="add-circle-sharp"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">
                <ion-fab-button (click)="StartCamera()">
                  <ion-icon name="camera-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="galleryImg.click()">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </div>
        </div>

        <ion-input label="Create Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter create password" formControlName="password">
        </ion-input>

        <ion-input label="Confirm Address" label-placement="floating" fill="outline" type="text"
          placeholder="Enter confirm password" formControlName="empConfirmPass">
        </ion-input>

        <div *ngIf="passwordsMatch" class="error-message">
          <ion-text color="danger">
            Passwords do not match!
          </ion-text>
        </div>

        <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
      </form>
    </ion-content>
  </ion-header>
</div>