<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/employee">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Terms & Conditions </ion-text>
      </ion-buttons>
    </ion-toolbar>
    <ion-card>
      Our society's terms and conditions define the framework within which members engage, ensuring clarity, fairness,
      and mutual respect. Members commit to upholding our values of inclusivity and cooperation, fostering a supportive
      environment for all. Eligibility criteria, membership obligations, and rights, including voting privileges, are
      clearly outlined. Conduct guidelines promote respectful behavior and outline procedures for conflict resolution.
      Governance structures ensure transparency and accountability in decision-making, with provisions for regular
      meetings and financial management. Amendments to these terms are subject to democratic approval, ensuring
      continuous relevance and adaptability. Procedures for termination or expulsion uphold the integrity of our
      community standards. By accepting these terms, members agree to abide by our rules and contribute positively to
      our society's mission and objectives.
    </ion-card>
  </ion-header>
</div>