<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home/employeelist">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Registration Form</ion-text>
      </ion-buttons>
    </ion-toolbar>
    <ion-content class="ion-padding">

      <form [formGroup]="employeeReg">
        <ion-select label="Employee Type" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select employee" (ionChange)="onEmpTypeChange($event)" formControlName="emp_type">
          <ion-select-option *ngFor="let emp_type of employee_type" [value]="emp_type?.id">{{ emp_type?.empType
            }}</ion-select-option>
        </ion-select>

        <ion-input *ngIf="emp_type_name=== 'Security Guard' " label="Flat No" label-placement="floating" fill="outline"
          type="text" placeholder="Enter flat no" formControlName="emp_WorkArea">
        </ion-input>

        <ion-input *ngIf="emp_type_name=== 'Maid' " label="Gate No" label-placement="floating" fill="outline"
          type="text" placeholder="Enter gate no" formControlName="emp_WorkArea">
        </ion-input>

        <ion-input label="Employee Name" label-placement="floating" fill="outline" type="text"
          placeholder="Enter employee name" formControlName="empName">
        </ion-input>

        <ion-input label="Contact No" label-placement="floating" fill="outline" type="number"
          placeholder="Enter contact no" onkeypress=" return this.value.length < 10"
          oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}" formControlName="empMobNo">
        </ion-input>

        <ion-input type="email" fill="outline" label="Email" labelPlacement="floating" errorText="Invalid email" ngModel
          email formControlName="empEmail">
        </ion-input>

        <ion-input label="Alt Contact No (1)" label-placement="floating" fill="outline" type="number"
          placeholder="Enter alt contact no" onkeypress=" return this.value.length < 10"
          oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}" formControlName="alternateMob1">
        </ion-input>

        <ion-select label="Relation With No (1)" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select relation with no" formControlName="relWithAlternateNum1"
          (ionChange)="onRelationChange1($event)">
          <ion-select-option value="Father">Father</ion-select-option>
          <ion-select-option value="Mother">Mother</ion-select-option>
          <ion-select-option value="Brother">Brother</ion-select-option>
          <ion-select-option value="Sister">Sister</ion-select-option>
          <ion-select-option value="Self">Self</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>

        <ion-input *ngIf="OtherSelectReletion1" fill="outline" label="Relation With No (1)" label-placement="floating"
          placeholder="Enter relation with no 1" formControlName="OtherRelationWithNum1">
        </ion-input>

        <ion-input label="Alt Contact No (2)" label-placement="floating" fill="outline" type="number"
          placeholder="Enter alt contact no" onkeypress=" return this.value.length < 10"
          oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}" formControlName="alternateMob2">
        </ion-input>

        <ion-select label="Relation With No (2)" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select relation with no" formControlName="relWithAlternateNum2"
          (ionChange)="onRelationChange2($event)">
          <ion-select-option value="Father">Father</ion-select-option>
          <ion-select-option value="Mother">Mother</ion-select-option>
          <ion-select-option value="Brother">Brother</ion-select-option>
          <ion-select-option value="Sister">Sister</ion-select-option>
          <ion-select-option value="Self">Self</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>

        <ion-input *ngIf="OtherSelectReletion2" fill="outline" label="Relation With No (2)" label-placement="floating"
          placeholder="Enter relation with no 2" formControlName="OtherRelationWithNum2">
        </ion-input>

        <ion-input label="Aadhar No" label-placement="floating" type="number" fill="outline"
          placeholder="Enter aadhar no" onkeypress=" return this.value.length < 16"
          oninput="if(this.value.length>=16) {this.value = this.value.sclice (0,16);}" formControlName="aadharNumber">
        </ion-input>

        <ion-input label="Current Address" label-placement="floating" fill="outline" type="text"
          placeholder="Enter current address" formControlName="currentAddress">
        </ion-input>

        <ion-input label="Permanent Address" label-placement="floating" fill="outline" type="text"
          placeholder="Enter permanent address" formControlName="parmanentAddress">
        </ion-input>

        <div class="EmployeeAadhar">
          <div class="Documents" [hidden]="EmpAadharSelect">
            <span>Employee Aadhar</span>
            <img alt="documents" [src]="Aadhar_img_url">
            <input class="d-none" type="file" accept=".jpg,.png,.jpeg," #Aadhar (change)="onAadhar(Aadhar.files)">
          </div>
          <div class="EmpSelectAadhar">
            <ion-text>Employee Aadhar</ion-text>
            <ion-fab>
              <ion-fab-button size="small">
                <ion-icon name="add-circle-sharp"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">
                <ion-fab-button (click)="Aadhar.click()">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </div>
        </div>

        <div class="EmployeeImg">
          <span [hidden]="onCameraOpen">
            <div class="BoxCamera">
              <video #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
            </div>
            <div class="BoxCameraClickBtn">
              <ion-button mat-raised-button color="primary" (click)="capture()">Click Photo</ion-button>
            </div>
          </span>

          <div *ngIf="onCaptureImg">
            <div class="BoxCamera">
              <canvas #canvas id="canvas" [hidden]="!onCameraOpen" [width]="WIDTH" [height]="HEIGHT"></canvas>
            </div>
          </div>

          <div class="UploadImage">
            <div class="imgDataBox" [hidden]="onGalleryImg">
              <span>
                <img alt="galleryImg" [src]="gallery_img_url">
                <input class="d-none" type="file" accept=".jpg,.png,.jpeg,.pdf" #galleryImg
                  (change)="OnGallery(galleryImg.files)">
              </span>
            </div>
          </div>

          <div class="actionCamera">
            <ion-text>Employee Image</ion-text>
            <ion-fab>
              <ion-fab-button size="small">
                <ion-icon name="add-circle-sharp"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">
                <ion-fab-button (click)="StartCamera()">
                  <ion-icon name="camera-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="galleryImg.click()">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </div>
        </div>

        <ion-input label="Create Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter create password" formControlName="emp_password">
        </ion-input>

        <ion-input label="Confirm Address" label-placement="floating" fill="outline" type="text"
          placeholder="Enter confirm password" formControlName="empConfirmPass">
        </ion-input>

        <div *ngIf="passwordsMatch" class="error-message">
          <ion-text color="danger">
            Passwords do not match!
          </ion-text>
        </div>
        <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
      </form>
    </ion-content>
  </ion-header>
</div>