<div class="container">
  <div class="dataRow">
    <div class="student_img">
      <img [src]=" 'https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_640.png'" alt="stdProfile" width="100">
    </div>
    <p>
      <ion-icon name="person-sharp" color="secondary"></ion-icon>
      <span> Amarjeet </span>
    </p>
    <p>
      <ion-icon name="call-sharp" color="secondary"></ion-icon>
      <span> 8965125478 </span>
    </p>
    <p>
      <ion-icon name="person-sharp" color="secondary"></ion-icon>
      <span> Visitor Name </span>
    </p>
    <p>
      <ion-icon name="calendar-number-sharp" color="secondary"></ion-icon>
      <span> Visistor Age </span>
    </p>
    <p>
      <ion-icon name="call-sharp" color="secondary"></ion-icon>
      <span> Visistor Mobile No </span>
    </p>
    <p>
      <ion-icon name="invert-mode-sharp" color="secondary"></ion-icon>
      <span> Vehical Model </span>
    </p>
    <p>
      <ion-icon name="car-sport-sharp" color="secondary"></ion-icon>
      <span> Vehical Number </span>
    </p>
    <p>
      <ion-icon name="call-sharp" color="secondary"></ion-icon>
      <span> Vehical Parking </span>
    </p>
  </div>
</div>