<ion-card>
  <div class="SearchBox" *ngIf="headerBox">
    <span> <b>Total :- </b>{{reg_data?.length}}</span>
    <div class="HeaderBoxSearch">
      <ion-button color="secondary" (click)="onSearchOpen()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
      <ion-button color="secondary" routerLink="/employee/empvisistorsreg">
        <ion-icon name="person-add-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="SearchBox" *ngIf="siteSearch">
    <span> <b>Total :- </b>{{reg_data?.length}}</span>
    <ion-input type="text" class="searchInput" placeholder="Search..." #search (keyup)="onSearch(search.value)">
    </ion-input>
    <div class="searchClose">
      <ion-button color="secondary" type="reset" (click)="onSearchClose()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>

<div id="containerBox">
  <div class="usercard" *ngFor="let data of reg_data" (click)="onDetails(data)">
    <div class="userimg">
      <img [src]="data.visitorImagePath? img_url+data.visitorImagePath : '../../../assets/images/user.webp'" alt=""
        width="100%" height="100%">
    </div>
    <div class="userdata">
      <table>
        <tr>
          <ion-icon name="person-sharp" color="secondary"></ion-icon>
          <td><b>{{data.visitorName}}</b></td>
        </tr>
        <tr>
          <ion-icon name="call-sharp" color="tertiary"></ion-icon>
          <td>{{data.visitorMobileNum}}</td>
        </tr>
        <tr>
          <ion-icon *ngIf="data.approvalStatus === 1" color="success" name="checkmark-circle-sharp"></ion-icon>
          <ion-icon *ngIf="data.approvalStatus === 0 " color="danger" name="close-circle-sharp"></ion-icon>

          <td [ngStyle]="{'color': data.approvalStatus === 1 ? 'green' : data.approvalStatus === 0 ? 'red' : 'green'}">
            {{data.approvalStatus === 1 ? 'Approved' : data.approvalStatus === 0 ? 'Rejected' : 'Pending'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <p class="NoRecord" *ngIf="reg_data?.length === 0">No Record Found</p>
</div>