<div id="wrapper">
  <div id="dashboardBox">
    <div class="grating">
      <span style="font-size: 20px; color: #fff;"><b>{{ GratingData() }}</b></span><br>
      <span style="color: #fff;">{{emp_filter_data?.empName}}</span>
    </div>
    <div class="manageContainer">
      <div class="manage">
        <div class="card cardColor1" routerLink="/employee/empvisitorlist">
          <div>
            <h3>Visitors</h3>
            <p>{{ list_dashboard? list_dashboard.length : '0' }}
              <span>Total</span>
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/candidates.png" alt="" width="30px">
          </div>
        </div>
        <div class="card cardColor3" routerLink="/employee/totalflatowner">
          <div>
            <h3>Flat Owner</h3>
            <p>{{ flat_owner_list? flat_owner_list.length : '0' }}
              <span>Total</span>
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/user.png" alt="" width="30px">
          </div>
        </div>
        <div class="card cardColor5" routerLink="/employee/totalemployee">
          <div>
            <h3>Employee</h3>
            <p>{{ list_emp_total? list_emp_total.length : '0' }}
              <span>Total</span>
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/emp.png" alt="" width="30px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>