<div id="wrapper">
  <div id="dashboardBox">
    <div class="grating">
      <span style="font-size: 20px; color: #fff;"><b>{{ GratingData() }}</b></span><br>
      <span style="color: #fff;">{{emp_filter_data?.empName}}</span>
    </div>
    <div class="manageContainer">
      <div class="manage">
        <div class="card cardColor1" routerLink="#">
          <div>
            <h3>Visitors</h3>
            <p>{{ list_dashboard && list_dashboard.length > 0 ? list_dashboard[0] : '0' }}
              <span>Today</span>
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/visitor.png" alt="" width="30px">
          </div>
        </div>
        <div class="card cardColor2" routerLink="/employee/empvisitorlist">
          <div>
            <h3>Visitors</h3>
            <p>{{ visitor_list? visitor_list.length : '0' }}
              <span>Total</span>
            </p>
          </div>
          <div>
            <img src="../../../assets/icons/visitor.png" alt="" width="30px">
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-card class="manageContainer">
    <h1>Visitor</h1>
    <canvas #visitorColumnChart width="400" height="400"></canvas>
  </ion-card>
</div>