<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Change Password </ion-text>
      </ion-buttons>
    </ion-toolbar>
    <div class="containerBox">
      <form [formGroup]="changePassword">
        <div class="imgchange">
          <img
            src="https://cdni.iconscout.com/illustration/premium/thumb/change-account-password-3148750-2624927.png?f=webp"
            alt="" width="200px" height="200px">
        </div>
        <ion-input label="Old Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter old password" formControlName="OldPassword">
        </ion-input>
        <ion-input label="New Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter new password" formControlName="newPass">
        </ion-input>
        <ion-input label="Confirm Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter confirm password" formControlName="ConfirmPass">
        </ion-input>
        <ion-button color="secondary" expand="block" (click)="onChange()">Change</ion-button>
      </form>
    </div>
  </ion-header>
</div>