.ion-page {
    ion-header {
        ion-toolbar {
            ion-text {
                position: relative;
                right: 15px;
            }

            ion-fab-button::part(native) {
                border-radius: 50px;
                box-shadow: none;
            }
        }
    }

    .containerBox {
        width: 100%;
        background-color: #abe0ff;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px;
        overflow: auto;
        height: calc(100vh - 50px);
        display: flex;
        align-items: center;

        ion-input {
            margin-bottom: 10px;
        }

        form {
            width: 100%;
            .imgchange{
                width: 100%;
                text-align: center;
            }
        }
    }
}