<div id="containerBox">
  <div id="wrapper">
      <div class="site-header">
          <div class="TotalBack">
              <ion-fab-button routerLink="/home">
                  <ion-icon name="arrow-back-sharp"></ion-icon>
              </ion-fab-button>
              <span> <b>Total :-</b> {{reg_data?.length}}</span>
          </div>
          <div class="documentDownload">
              <button mat-button>
                  <span>Today Visitors</span>
              </button>
          </div>
      </div>
  </div>

  <div id="DataBox">

      <div class="select-header">
          <div class="searchInput">
              <input type="text" matInput placeholder="Search..." #search (keyup)="onSearch(search.value)" />
          </div>
      </div>

      <mat-accordion class="container" *ngIf="onViewFilterList">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
              *ngFor="let data of reg_data">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      <div class="imgDataBox">
                          <img [src]="data.visitorImagePath? img_url+data.visitorImagePath : '../../../assets/images/user.webp'"
                              alt="">
                      </div>
                  </mat-panel-title>
                  <mat-panel-description>
                      <b> {{data.visitorName}}</b>
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="dataRow">
                  <p *ngIf="data?.visitorName">
                      <b>Name :- </b>
                      <span>{{data?.visitorName}}</span>
                  </p>
                  <p *ngIf="data?.visitorMobileNum">
                      <b>Mobile No :- </b>
                      <span>{{data?.visitorMobileNum}}</span>
                  </p>
                  <p *ngIf="data?.totalVisitors">
                      <b>Total Visitors :- </b>
                      <span>{{data?.totalVisitors}}</span>
                  </p>
                  <p *ngIf="data?.actionBy">
                      <b>Gate Incharge :- </b>
                      <span>{{data?.actionBy}}</span>
                  </p>
                  <p *ngIf="data?.visitingDate">
                      <b>Registration Date :- </b>
                      <span>{{data?.visitingDate}}</span>
                  </p>

                  <p *ngIf="data?.approvalStatus">
                      <b>Status :-</b>
                      <span
                          [ngStyle]="{'color': data.approvalStatus === 1 ? 'green' : data?.approvalStatus === 0 ? 'red' : 'red'}">
                          {{data?.approvalStatus === 1 ? 'Approved' : data?.approvalStatus === 0 ? 'Rejected' :
                          'Pending'}}
                      </span>
                  </p>


                  <p *ngIf="data?.havingVehicle">
                      <b>Vehicle :- </b>
                      <span> {{data?.havingVehicle}} </span>
                  </p>

                  <p *ngIf="data?.visitorVehicleModel">
                      <b>Vehicle Model :- </b>
                      <span> {{data?.visitorVehicleModel}} </span>
                  </p>

                  <p *ngIf="data?.visitorVehicleNumber">
                      <b>Vehicle Number :- </b>
                      <span> {{data?.visitorVehicleNumber}} </span>
                  </p>

                  <p *ngIf="data?.visitorVehicleParkingArea">
                      <b>Parking Area :- </b>
                      <span> {{data?.visitorVehicleParkingArea}} </span>
                  </p>

              </div>
          </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>