<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home/visitorlist">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Visitor Registration </ion-text>
      </ion-buttons>
    </ion-toolbar>

    <ion-content class="ion-padding">

      <form [formGroup]="VisitorReg">

        <ion-input label="Name" label-placement="floating" fill="outline" type="text" placeholder="Enter visitor name"
          formControlName="visitorName">
        </ion-input>

        <ion-input label="Mobile No" label-placement="floating" fill="outline" type="number"
          placeholder="Enter mobile no" formControlName="visitorPhone">
        </ion-input>

        <ion-input label="Number Of Visitors" label-placement="floating" type="number" fill="outline"
          placeholder="Enter number of visitors" formControlName="visitorsCount">
        </ion-input>

        <ion-checkbox (ionChange)="toggleVehicleInput($event)"> {{ 'Do you have a vehical?' }} </ion-checkbox>

        <div *ngIf="onVehicleSelect">
          <ion-input label-placement="floating" type="text" fill="outline" label="Vehicle Model"
            placeholder="Enter vehical model" formControlName="vehicleModel">
          </ion-input>

          <ion-input label-placement="floating" type="text" fill="outline" label="Vehicle Number"
            placeholder="Enter vehical number" formControlName="vehicleNumber">
          </ion-input>

          <ion-input label-placement="floating" type="text" fill="outline" label="Vehicle Parking Area"
            placeholder="Enter vehical parking area" formControlName="vehicleParking">
          </ion-input>
        </div>

        <div class="VisitorImg">
          <span [hidden]="onCameraOpen">
            <div class="BoxCamera">
              <video #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
            </div>
            <div class="BoxCameraClickBtn">
              <ion-button mat-raised-button color="primary" (click)="capture()">Click Photo</ion-button>
            </div>
          </span>

          <div *ngIf="onCaptureImg">
            <div class="BoxCamera">
              <canvas #canvas id="canvas" [hidden]="!onCameraOpen" [width]="WIDTH" [height]="HEIGHT"></canvas>
            </div>
          </div>

          <div class="UploadImage">
            <div class="imgDataBox" [hidden]="onGalleryImg">
              <span>
                <img alt="galleryImg" [src]="gallery_img_url">
                <input class="d-none" type="file" accept=".jpg,.png,.jpeg,.pdf" #galleryImg
                  (change)="OnGallery(galleryImg.files)">
              </span>
            </div>
          </div>

          <div class="actionCamera" onclick="document.querySelector('#ownerImg').click()">
            <ion-text>Visitor Image</ion-text>
            <ion-fab>
              <ion-fab-button size="small" id="ownerImg">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="start">
                <ion-fab-button (click)="StartCamera()">
                  <ion-icon name="camera-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="galleryImg.click()">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </div>
        </div>


        <ion-input label="Visiting Flat No" label-placement="floating" fill="outline" type="number"
          formControlName="visitorFlatNo">
          <ion-fab-button shape="round" slot="end" (click)="onFlatFind()">Find</ion-fab-button>
        </ion-input>

        <div class="dataRow" *ngIf="findFlatNo">
          <p>
            <img src="../../../assets/icons/user.png" alt="">
            <span> {{'Amarjeet'}} </span>
          </p>
          <p>
            <img src="../../../assets/icons/phone.png" alt="">
            <span> {{'8965125478'}} </span>
            <ion-fab-button slot="end" routerLink="/home/employeedetails">View More</ion-fab-button>
          </p>
        </div>

        <ion-select label="Status" fill="outline" label-placement="floating" interface="action-sheet"
          placeholder="Select status" formControlName="visitorStatus">
          <ion-select-option value="Pending">Pending</ion-select-option>
          <ion-select-option value="Approved">Approved</ion-select-option>
          <ion-select-option value="Rejected">Rejected</ion-select-option>
        </ion-select>

        <ion-button shape="round" (click)="onSubmit()">Submit</ion-button>
      </form>
    </ion-content>
  </ion-header>
</div>