<div class="wrapper">
  <div class="header">
    <ion-fab-button mat-icon-button routerLink="/">
      <ion-icon name="arrow-back-sharp"></ion-icon>
    </ion-fab-button>
    <div class="headPass">
      <span>Forget Password</span>
    </div>
  </div>
  <div *ngIf="onverificationCondition" class="boxContaint">
    <h2>Forgot your password</h2>
    <span>Enter your registration email below to receive password reset instructions</span>
  </div>
  <div *ngIf="onchangePassCondition" class="boxContaint">
    <h2>Create new password?</h2>
    <span>Enter your new password and confirm the password</span>
  </div>

  <div class="container">
    <form [formGroup]="EmailVerification">
      <div *ngIf="onverificationCondition">
        <div class="forgotIcon">
          <img src="../../assets/images/password-forgot.webp" alt="icon" width="200px">
        </div>

        <div *ngIf="onSendCondition" class="inputBox">
          <input matInput placeholder="Enter Email" formControlName="email">
          <ion-button mat-raised-button color="secondary" class="onBtn" (click)="onSend()">Send</ion-button>
        </div>
        <div *ngIf="onVerifyCondition" class="verifyotp">
          <input formControlName="inp1" id="digit1" type="number" maxlength="1" (input)="moveToNext('digit2', $event)"
            (keypress)="onKeyPress($event)">

          <input formControlName="inp2" id="digit2" type="number" maxlength="1" (input)="moveToNext('digit3', $event)"
            (keypress)="onKeyPress($event)">

          <input formControlName="inp3" id="digit3" type="number" maxlength="1" (input)="moveToNext('digit4', $event)"
            (keypress)="onKeyPress($event)">

          <input formControlName="inp4" id="digit4" type="number" maxlength="1" (input)="moveToNext('digit5', $event)"
            (keypress)="onKeyPress($event)" (keyup.enter)="onVerify()">

          <div class="reSendOtp">
            <span (click)="onSend()">Resend OTP</span>
          </div>
          <ion-button mat-raised-button color="secondary" class="onBtn" (click)="onVerify()">Verify</ion-button>
        </div>

      </div>
    </form>
    <form [formGroup]="create_password">
      <div *ngIf="onchangePassCondition" class="inputBox">
        <div class="forgotIcon">
          <img src="../../assets/images/password-forgot.webp" alt="icon" style="width: 200px;">
        </div>
        <input matInput placeholder="New Password" formControlName="change_pass">
        <input matInput placeholder="Confirm Password" formControlName="confirm_pass">
        <ion-button color="secondary" class="onBtn" (click)="onChange()">Submit</ion-button>
      </div>
    </form>
  </div>
</div>