.wrapper {
    width: 100%;
    height: 100vh;


    .header {
        background-color: var(--color-1);
        padding: 12px 12px 12px 0px;
        height: 60px;
        display: flex;
        align-items: center;
        color: white;
    }

    mat-icon {
        font-size: 30px;
    }

    .headPass {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .forgotIcon {
        text-align: center;
        padding-bottom: 10px;
    }

    .forgotIcon>img {
        width: 200px;
    }

    .container {
        padding: 0px 20px 20px 20px;
        text-align: center;
    }

    .inputBox>input {
        width: calc(100% - 50px);
        min-height: 55px;
        border: none;
        outline: none;
        margin: 15px 25px;
        border-radius: 50px;
        padding: 15px;
        font-size: 16px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }


    .onBtn {
        width: calc(100% - 50px);
        min-height: 55px;
        border-radius: 50px;
        font-family: Cambria;
        font-size: 24px;
        color: whitesmoke;
        border: none;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        cursor: pointer;
    }

    .reSendOtp {
        text-align: end;
        cursor: pointer;
        margin-right: 30px;
        color: red;
    }

    .boxContaint {
        padding: 20px;
    }

    .boxContaint>h2>span {
        font-size: 16vh;
    }

    .verifyotp>input {
        width: 49px;
        height: 49px;
        padding: 15px;
        margin: 10px;
        border: 1px solid gray;
        font-size: 30px;
    }
}