<div class="ion-page">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-fab-button slot="start" color="secondary" routerLink="/home">
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-fab-button>
      <ion-buttons slot="end">
        <ion-text> Change Password </ion-text>
      </ion-buttons>
    </ion-toolbar>
    <div class="containerBox">
      <form>
        <ion-input label="Old Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter old password">
        </ion-input>
        <ion-input label="New Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter new password">
        </ion-input>
        <ion-input label="Confirm Password" label-placement="floating" fill="outline" type="text"
          placeholder="Enter confirm password">
        </ion-input>
        <ion-button color="secondary" expand="block" type="submit">Change</ion-button>
      </form>
    </div>
  </ion-header>
</div>