.ion-page {
    ion-header {
        ion-toolbar {
            ion-text {
                position: relative;
                right: 15px;
            }

            ion-fab-button::part(native) {
                border-radius: 50px;
                box-shadow: none;
            }
        }
    }

    .containerBox {
        width: 100%;
        height: 100vh;
        background-color: #abe0ff;
        background-image: url('https://elements-cover-images-0.imgix.net/b515ab19-ef60-46a4-82d9-78cfe5d86724?auto=compress%2Cformat&w=900&fit=max&s=972356b71c4889dcc5013b17f3a763ce');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px;
        overflow: auto;
        height: calc(100vh - 50px);

        ion-input {
            margin-bottom: 10px;
        }
    }
}