<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
       HOME
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      RADIO
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      LIBRARY
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      SEARCH
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="person-circle-sharp"></ion-icon>
      PROFILE
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>